@import 'src/assets/css/_mixins.scss';
@import 'src/assets/css/_colors.scss';

#root{
  .news-library-student{
    background-color: #f3f7f7;
    box-sizing: border-box;
    display: grid;
    margin: 0 auto;
    gap: 50px;
    padding: 35px 80px 35px 80px;
  }
  .bcg-library-student{
    background-color: #fff;
    overflow: hidden;
    padding: 40px 60px 20px 60px;
  }

  .button1 {
  cursor: pointer;
  display: flex;
  margin: 0 2px;
  font-size: 0.7rem;
  border: none;
  outline: none;
  height: 30px;
  z-index: 101;
  background-color:       lighten($color-primary-blue, 5%) ;
  color: white;
  
  
  @include small-laptop {
    font-size: 0.7rem;
    z-index: 101;
  }

}
.link-button {
  background-color: $color-primary-blue;
  display: flex;
  width: fit-content;
  margin-top:20px;
  padding: 5px 20px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  svg {
    margin: auto 0;
  }
    
}


.main1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 margin: auto;
}
.main2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: auto; 
  margin-top: 68px;
}
}

.static-library-student{
    position: relative;
    margin-top: 10px;
    float: left;
    display: flex;

    }
    .static1-library-student{
      position: relative;
      margin-top: 1rem;
      float: right;
      display: flex;
  
      }
.standard
{
    font-weight: 700;text-transform: capitalize;

}
.article_title{
  text-align: center;
  padding: 20px;
  font-size: 20px;
   

}
h1.heading{
 
  margin-top: 28px;
  font-size: 20px;
}
h2.heading{
  font-size: 16px;
  margin-top: 28px;


}
.intro{
    font-weight: 300;
    font-size: 18px;

}
.detail{
    position: relative;
    margin-top:30px;
  
   
}
.author{
    position: relative;
   
    font-size: 12px;

    margin-left:727px;
}
.published{
    position: relative;
   
    font-size: 10px;

    margin-left:727px;
}
.imagedetail{
    position: relative;
    font-size: 10px;

}
.article__div__image
{
  text-align: center;
  margin-top: 20px;
}
.article__image{
    margin-top:10px;
    max-height: 30rem;
    margin: auto;

}
.paragraph{
    font-weight: 300;
    font-size: 17px;
    margin-top:30px;

    justify-content: space-evenly;


}
.content{
    margin-top: 30px;
}
.article_mcq
 {
    font-family: 'Work Sans', sans-serif;
    color: #30496b;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 15px 30px;
  box-shadow: 1px 1px 5px #cacaca, -1px -1px 5px #e6e6e6;
  // border-bottom: 1px solid rgba(85, 85, 85, 0.26);
  padding: 13px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);

  
  .article_question_title {
    grid-area: title;
    margin: 0;
  }
 }
.article_mcq {
    grid-template-areas: 'image type' 'image title' 'image options';
    width: auto;

    .options {
      display: flex;
      grid-area: options;
      .option {
        margin: 5px;
        padding: 8px 15px;
        box-shadow: 3px 3px 5px #dedede, -1px -1px 24px #fff;
      }
    }
  }
  .article_subjective{
    grid-template-areas: 'image type' 'image title' 'image options';
    width: auto;
      margin-top:20px;
      font-family: 'Work Sans', sans-serif;
    color: #30496b;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 15px 30px;
  box-shadow: 1px 1px 5px #cacaca, -1px -1px 5px #e6e6e6;
  // border-bottom: 1px solid rgba(85, 85, 85, 0.26);
  padding: 13px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);

  
  .article_question_title {
    grid-area: title;
    margin: 0;
  }
  
  }
  .vocab{
    display: grid;
    box-shadow: 1px 1px 5px #cacaca, -1px -1px 5px #e6e6e6;
    color: #30496b;

    padding: 13px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);

  }
  .voc{
    margin-top:10px;
  }
 .table__row__data{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 0px;
   border: 1px solid #e6e6e6;
   
 }
.article_link{
  margin-left: 0.2rem;
  margin-right: 0.2rem;

}
.article_bold{
  font-weight: bold;

}
.brief{
  margin-top:60px;
  h3{
    font-size: 20px;
  }
 
}
